* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: hsl(195, 3%, 71%, 0.4); */
    /* background-color: rgb(116, 139, 231, 0.8); */
    background-color: hsla(228, 59%, 53%, 1);
    /* overflow-x: hidden; */
}

.intro {
    width: 100%;
    margin-left: 100px;
}